<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<b>Welcome to java developer course</b>

<h1 align="center" style="color: brown" >Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h4>Spring Boot</h4>
<h5>Spring Boot</h5>
<h6>Spring Boot</h6>

<img src="springboot.png" alt="springBoot">


<ul>
    <li>Java</li>
    <li>Js</li>
    <li>MVZ</li>
    <li>JavAC</li>
    <li>Javam</li>
</ul>



<a href="https://cydeo.com">Cydeo</a>
<br>
<br>
<br>

<table>
    <tr>
        <td>first name</td>
        <td>last name </td>
        <td>salary</td>
    </tr>
    <tr>
        <td>mike</td>
        <td>smith</td>
        <td>120000</td>
    </tr>

</table>


</body>
</html>